:root {
  --bakery-landing-1-background: #faf4ea;
  --bakery-landing-1-s1: #31261a;
  --bakery-landing-1-c2: #819b57;
  --bakery-landing-1-s3: #465929;
  --bakery-landing-1-s4: #a18268;
  --bakery-landing-1-c5: #cfcfbc;
  /* --beauty-landing-2-background: #fff;
  --beauty-landing-2-s2: #2b7fff;
  --beauty-landing-2-c1: #011c44;
  --beauty-landing-2-c3: #4a4a4a;
  --beauty-landing-2-s4: #ffd02b;
  --beauty-landing-2-s5: #747272;
  --beauty-landing-2-c6: #011f4a;
  --dog-landing-3-background: #fff;
  --dog-landing-3-s1: #ff9f0e;
  --dog-landing-3-s2: #fcb62a;
  --dog-landing-3-c3: #fffaf3;
  --dog-landing-3-c4: #181817;
  --dog-landing-3-c5: #f1f3ff;
  --dog-landing-3-c6: #839aa9;
  --dog-landing-3-s8: #f9f9ff;
  --dog-landing-3-c9: #d9a6ff;
  --dog-landing-3-c10: #ff6e9f; */
}

/* ------------ base ----------------- */
body {
  color: var(--bakery-landing-1-s1);
  font-family: 'Poppins', sans-serif;
  background-color: var(--bakery-landing-1-background);
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
}

ul {
  list-style-type: none;
}

address {
  font-style: normal;
}

/* ------------ base ----------------- */

/* ------------ hero-sections ----------------- */

.hero-titel {
  color: var(--bakery-landing-1-background);
  text-align: center;
  font-size: 128px;
  font-weight: 900;
  /* text-shadow: 2px 2px 4px #465929; */
}

.hero-titel .accent {
  color: var(--bakery-landing-1-c2);
}

.advantages-list {
  color: var(--bakery-landing-1-background);
  background-color: var(--bakery-landing-1-c2);
}

.advantages-item {
  font-weight: 300;
  font-size: 20px;
}

/* ------------ hero-titel sections ----------------- */

/* ------------ section-tite sections ----------------- */

.section-titel {
  font-size: 64px;
  font-weight: 900;
  line-height: 1.3;
}

.section-titel .accent {
  color: var(--bakery-landing-1-s3);
}

/* ------------ chefs - sections ----------------- */

.chef-titel {
  font-size: 40px;
  font-weight: 600;
}

/* ------------ Format - sections ----------------- */
.format-titel {
  font-size: 24px;
  font-weight: 600;
}

.format-text {
  font-size: 14px;
  font-weight: 300;
}

/* ------------ Footer - sections ----------------- */

.address-link {
  color: var(--bakery-landing-1-background);
  font-size: 16px;
  font-weight: 300;
  text-decoration: none;
}

.address-link:hover {
  color: var(--bakery-landing-1-c2);
}

.address-copiright {
  font-size: 14px;
}

/* ------------ button ----------------- */
.button {
  color: var(--bakery-landing-1-background);
  background: var(--bakery-landing-1-c2);
  border: 2px solid #819b57;
  font-weight: 600;
  border-radius: 8px;
  padding-block: 16px;
  padding-inline: 32px;
  width: 238px;
  height: 59px;
  cursor: pointer;
}

.button:hover {
  color: #465929;
  background-color: transparent;
}

/* ------------ button test ------------- */

/* .button:focus {
  color: #765929;
  background-color: plum;
} */

/* .button:active {
  color: black;
  background-color: orangered;
} */

/* .main-header {
  width: 1244px;
  height: 59px;
} */

/* ------------ button test ------------- */
/* ------------ button ----------------- */

/* ------------  ----------------- */

.link {
  color: var(--bakery-landing-1-background);
  text-decoration: none;
}
.link:hover {
  color: var(--bakery-landing-1-c2);
  text-decoration: underline;
  font-weight: 600;
}

.traditions-text .brand {
  color: var(--bakery-landing-1-c2);
  font-weight: 600;
}

.traditions-text .uppercase {
  text-transform: uppercase;
}
