.main-title {
  border: 2px solid black;
  background-color: orangered;
}

.button {
  color: #d9d9d9;
  background: #819b57;
  border: 2px solid #819b57;
  border-radius: 8px;
  padding-block: 16px;
  padding-inline: 32px;
  width: 238px;
  height: 59px;
  cursor: pointer;
}

.button:hover {
  color: #465929;
  background-color: transparent;
}

/* .button:focus {
  color: #765929;
  background-color: plum;
} */

/* .button:active {
  color: black;
  background-color: orangered;
} */

/* .main-header {
  width: 1244px;
  height: 59px;
} */
