:root {
  --bakery-landing-1-background: #faf4ea;
  --bakery-landing-1-s1: #31261a;
  --bakery-landing-1-c2: #819b57;
  --bakery-landing-1-s3: #465929;
  --bakery-landing-1-s4: #a18268;
  --bakery-landing-1-c5: #cfcfbc;
  /* --beauty-landing-2-background: #fff;
  --beauty-landing-2-s2: #2b7fff;
  --beauty-landing-2-c1: #011c44;
  --beauty-landing-2-c3: #4a4a4a;
  --beauty-landing-2-s4: #ffd02b;
  --beauty-landing-2-s5: #747272;
  --beauty-landing-2-c6: #011f4a;
  --dog-landing-3-background: #fff;
  --dog-landing-3-s1: #ff9f0e;
  --dog-landing-3-s2: #fcb62a;
  --dog-landing-3-c3: #fffaf3;
  --dog-landing-3-c4: #181817;
  --dog-landing-3-c5: #f1f3ff;
  --dog-landing-3-c6: #839aa9;
  --dog-landing-3-s8: #f9f9ff;
  --dog-landing-3-c9: #d9a6ff;
  --dog-landing-3-c10: #ff6e9f; */
}
/* ------------ base ----------------- */
body {
  color: var(--bakery-landing-1-s1);
  background-color: var(--bakery-landing-1-background);
}
ul {
  list-style-type: none;
}

/* ------------ base ----------------- */
/* ------------ hero-titel ----------------- */

.hero-titel {
  color: #faf4ea;
}

.hero-titel .accent {
  color: var(--bakery-landing-1-c2);
}

.advantages-list {
  color: #faf4ea;
  background-color: var(--bakery-landing-1-c2);
}

/* ------------ hero-titel ----------------- */

.section-titel .accent {
  color: var(--bakery-landing-1-s3);
}

/* ------------ button ----------------- */
.button {
  color: #d9d9d9;
  background: #819b57;
  border: 2px solid #819b57;
  border-radius: 8px;
  padding-block: 16px;
  padding-inline: 32px;
  width: 238px;
  height: 59px;
  cursor: pointer;
}

.button:hover {
  color: #465929;
  background-color: transparent;
}

/* ------------ button test ------------- */

/* .button:focus {
  color: #765929;
  background-color: plum;
} */

/* .button:active {
  color: black;
  background-color: orangered;
} */

/* .main-header {
  width: 1244px;
  height: 59px;
} */

.button {
}

/* ------------ button test ------------- */
/* ------------ button ----------------- */

/* ------------  ----------------- */

.link {
  color: #faf4ea;
}
.link:hover {
  color: var(--bakery-landing-1-c2);
}
