.main-title {
  border: 2px solid black;
  background-color: orangered;
}

.button {
  color: #d9d9d9;
  background: #819b57;
  border: 2px solid #819b57;
  border-radius: 8px;
  cursor: pointer;
  padding: 16px 32px;
  width: 232px;
  height: 59px;
}

.button:hover {
  color: #465929;
  background-color: transparent;
}

/* .button:focus {
  color: #765929;
  background-color: plum;
} */

/* .button:active {
  color: black;
  background-color: orangered;
} */
